:root {
  /* Whites */
  --absolute-white: #ffffff;
  --white1: #f7f7f7;
  --white2: #d6ddde; /* Default */
  --white3: #a7abac;

  /* Blacks */
  --absolute-black: #000001;
  --black1: #36393e; /* Default */
  --black2: #2f3136;
  --black3: #202225;
  --black4: #292c3073; /* THIS COLOR IS NOT IN DISCORD! USE IT SPARINGLY */
  --grey1: #a3aab4;
  --grey: #747f8d;
  --small: rgb(197, 207, 240);

  /* Blurples */
  --blurple: #7289da;
  --blurple1: #7289da;
  --blurple2: #6d83d0;

  /* Reds */
  --attention: #f04747;
  --red2: #b83f3f;
  --red3: #973434;

  --green1: rgb(135, 241, 127);
  --green: #59D851;
  --green2: var(--green);
  --green3: rgb(66, 179, 58);
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: var(--black3);
}

body {
  background-color: var(--black1);
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Arial';
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white1);
}

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
  text-align: center;
}

.container .container-fluid>.jumbotron>p>small {
  color: var(--small);
}

.navbar-default {
  background-color: var(--black3);
  border-color: var(--black1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  background-color: var(--black1);
  color: var(--white2);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: var(--white1);
  color: var(--black1);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-default .navbar-nav>li>a {
  color: var(--white3);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: var(--white1);
  color: var(--black1);
}

.container .jumbotron, .container-fluid .jumbotron {
  background-color: var(--black3);
}
.container .jumbotron, .container-fluid .jumbotron>h1,
.container .jumbotron, .container-fluid .jumbotron>h2,
.container .jumbotron, .container-fluid .jumbotron>p {
  color: var(--white1);
  background-color: var(--black3);
  text-align: center;
}

p {
  color: var(--white2);
}

table>thead>tr>th,
table>tbody>tr>td {
  color: var(--white2);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.table-hover>tbody>tr:hover {
  background-color: var(--black3);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.table-hover>tbody>tr {
  background-color: var(--black1);
  transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.table-hover>tbody>tr.danger>td,
.table-hover>tbody>tr.danger>th,
.table-hover>tbody>tr>.danger,
.table-hover>tbody>tr>td.danger,
.table-hover>tbody>tr>th.danger{
  background-color:var(--red2)
}
.table-hover>tbody>tr.danger:hover>td,
.table-hover>tbody>tr.danger:hover>th,
.table-hover>tbody>tr:hover>.danger,
.table-hover>tbody>tr>td.danger:hover,
.table-hover>tbody>tr>th.danger:hover{
  background-color: var(--red3);
}

a.terms, a.terms:hover {
  color: var(--white1);
  font-weight: 700;
}
p.terms {
  font-size: 17px;
}

footer.footer>div.container-fluid>span.text-muted>b.akii:hover {
  color: var(--white3);
  transition: all 200ms ease;
}
footer.footer>div.container-fluid>span.text-muted>b.akii {
  transition: all 200ms ease;
}